<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NormalLogin</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
     </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NormalLogin</display-name>
    <servlet-name>NormalLogin</servlet-name>
    <servlet-class>com.sathya.loginpage.NormalLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NormalLogin</servlet-name>
    <url-pattern>/NormalLogin</url-pattern>
  </servlet-mapping>
</web-app>